[submodule "frontend"]
	path = frontend
	url = https://github.com/yunzaixi-dev/tjuclaw-client.git
[submodule "backend"]
	path = backend
	url = https://github.com/yunzaixi-dev/tjuclaw-server.git
[submodule "cli"]
	path = cli
	url = https://github.com/yunzaixi-dev/tjucli.git
[submodule "crawler"]
	path = crawler
	url = https://github.com/yunzaixi-dev/tjuclaw-crawler.git
	branch = release
[submodule "sandbox"]
	path = sandbox
	url = https://github.com/yunzaixi-dev/tjuclaw-sandbox.git
	branch = release
[submodule "ClaudeAnimationBase"]
	path = ClaudeAnimationBase
	url = https://github.com/JohnHeibel/ClaudeAnimationBase.git
	branch = main
